.navbar-hamb{
    padding: 30px 0px 30px 0px;
    text-decoration: none;
    font-size: 20px;
}

.navbar-hamb a{
    color: #fff;
}

.navbar-hamb li{
    list-style: none;
}

.nav-hamb-title{
    font-size: 30px;
    color: #ff004f;  
}