@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@100;200;300;400;500;600;700;800;900&display=swap');


body{
  font-family: 'Exo 2', sans-serif;
  margin: 0!important;
  padding: 0!important;
}


.nav-fxy{    
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  color: rgb(129, 129, 129)!important;
  background-color: #ff004f;
  height: 90px;
}

.logo-font{
  font-weight: 900;

}
/* .container{
  max-width: 1800px!important;
} */

.container-fluid{
  margin: 0!important;
  padding: 0!important;
}

.logo{
  display: flex;
  align-items: center;
}

.footer{
  color: #fff;
  background-color: #0e0e0e;
  padding: 35px;
  border-top: 3px solid;
  border-color: #B4378C;
  clear: both;
}

.footer-menu{
  padding: 15px;
}

.footer-base{
  border-top: 1px solid;
  border-color: #fff;
  padding: 15px;
}
.footer-logo{
  font-size: 30px;
  font-weight: 900;
}

.footer-title{
  color:#ffc107;
  display: block;
  padding-bottom: 10px;;
}

.footer .redes img{
  width: 40px;
  height: auto;
  padding-left: 5px;
}

.footer .redes{
  display: inline-block;
}

.header-weather{
  color: #fff;
  font-weight: 100;
}

.clime{  
  text-align: center;
}

span.temp{
  font-size: 1.5em;
  font-weight: 500;
  display: block;
  /* margin-bottom: 20px;   */
}

span.city{
  font-size: 1em;
  font-weight: 300;
  /* position: absolute;
  margin-top: 39px; */
}

.col-transit{
  border-right: 1px solid #fff; 
  padding: 6px;
}

.header-transit{
  width: 45px;
  height: auto;
}



.sidebar{
  /* background-color: #ccc; */
  float: left;
}

.news-section{
  margin-top: 2px;
  padding: 15px;
}

@media (max-width: 280px){ 
    .logo-font{
      font-size: 1.5rem;
    }

}




@media (min-width: 992px){
  .navbar-expand-lg .navbar-toggler {
      display: block;
      float: left;
      margin-right: 15px;
    }  
    
   }


.date-hour{
  color: #fff;
  text-align: center;
  font-size: 0.9em;;
  /* text-align: center;
  padding-top: 2%; */
}

.hamburger{
  padding-right: 10px;
  float: left;
}

.site-nav{
  padding-top: 20px;
  position: fixed;
  left: 0px;
  top: 90px;
  width: 100%;
  background-color: black;

}

.hamburger{
  cursor: pointer;
}

.secciones-genericas-proximamente .container .row{
  display: flex;
}

.secciones-genericas-proximamente .container .row{
  text-align: center;
  height: 500px;
  font-size: 2em;
  align-items: center;
}


/* SMARTPHONES PORTRAIT */
@media only screen and (min-width: 300px) {


}

/* SMARTPHONES LANDSCAPE */
@media only screen and (min-width: 480px) {
 

}

/* TABLETS PORTRAIT */
@media only screen and (min-width: 768px) {
 .temp{
   font-size: 15px;
 }

 .navbar{
  padding: 0rem 0rem;
 }
 

}


/* TABLET LANDSCAPE / DESKTOP */
@media only screen and (min-width: 1024px) {


}  
