.featured{
    background-color: black;
}

.card-img-overlay{    
    background: rgba(19,19,19,0);
    background: -moz-linear-gradient(top, rgba(19,19,19,0) 0%, rgba(0,0,0,0.74) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(19,19,19,0)), color-stop(100%, rgba(0,0,0,0.74)));
    background: -webkit-linear-gradient(top, rgba(19,19,19,0) 0%, rgba(0,0,0,0.74) 100%);
    background: -o-linear-gradient(top, rgba(19,19,19,0) 0%, rgba(0,0,0,0.74) 100%);
    background: -ms-linear-gradient(top, rgba(19,19,19,0) 0%, rgba(0,0,0,0.74) 100%);
    background: linear-gradient(to bottom, rgba(19,19,19,0) 0%, rgba(0,0,0,0.74) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#131313', endColorstr='#000000', GradientType=0 ); 
}

.featured h5{   
    font-size: 3.25rem;    
}

.content-card{
    margin-top: 30%;
}


/* SMARTPHONES PORTRAIT */
@media only screen and (max-width: 300px) {
    

}

/* SMARTPHONES LANDSCAPE */
@media only screen and (max-width: 480px) {
  

}

/* TABLETS PORTRAIT */
@media only screen and (max-width: 768px) {
    .txt-featured{
        font-size: 1.10rem!important;
    }

}

/* TABLET LANDSCAPE / DESKTOP */
@media only screen and (max-width: 1200px) {
    .featured .card-text{
        display: none;
    }

} 


/* TABLET LANDSCAPE / DESKTOP */
@media only screen and (max-width: 1024px) {
    

}  


